.Viral-naiton-logo {
	white-space: nowrap;
	float: left;
	padding: 1%;
}

.Theme-Switch {
	cursor: pointer;
	float: right;
	padding: 3%;
	display: inline;

	.icon {
		padding-top: 10%;
	}
}

.child {
	display: inline-block;
}
